html,
body,
#root {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
}

*,
html,
body,
#root {
  font-family: "Outfit", sans-serif;
}

#root {
  position: relative;
  height: 80vh;
}

.scrollContainer {
  position: relative;
}

.journey-buttons {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
  list-style: none;
  margin-top: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: clip;
  clip-path: inset(0% 80% 80% 0% round 15px);
  transition: clip-path 0.4s ease-out;

  &:hover {
    clip-path: inset(0% 0% 0% 0% round 20px);
  }

  li {
    &:hover {
      background-color: rgb(243, 243, 243);
    }

    &:first-of-type {
      button {
        padding-top: 1.5rem;
      }
    }

    &:last-of-type {
      button {
        padding-bottom: 1.5rem;
      }
    }

    &.isActive {
      button {
        background-color: black;
        color: white;
      }
    }
  }

  .journey-icon {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    width: 2rem;
    height: 2rem;
  }

  button {
    width: 100%;
    text-align: left;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
  }
}

.canvas {
  position: absolute !important;
  top: 0;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 0;
}

.focus-button {
  --ring: 79, 70, 229;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.75rem 1.1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  font: 600 16px/1.2 system-ui, sans-serif;
  background: rgba(255, 255, 255, 0.463);
  border: 0;
  cursor: pointer;
  transform: translateZ(0);
  transition: background-color 0.2s ease-out, scale 0.2s ease-out,
    opacity 0.2s ease-out;
  animation: btn-breathe 5s ease-in-out infinite;
}

.focus-button:after {
  content: "";
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50px;
  background-color: white;
  transition: background-color 0.2s ease-out, scale 0.2s ease-out;
}

.focus-button:hover {
  scale: 1.2;
  background-color: white;
}

.focus-button.active {
  opacity: 0;
}

.focus-button:hover:after,
.focus-button.active:after {
  background-color: black;
  scale: 0.5;
}

@keyframes btn-breathe {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

/* .focus-button, */
.journey-prev-next-buttons button {
  transition: scale 0.2s ease-out;
}

/* .focus-button:hover, */
.journey-prev-next-buttons button:hover {
  scale: 1.2;
}

.journey-sidebar-wrapper {
  position: absolute;
  top: 10vh;
  bottom: 10vh;
  right: -30vw;
  height: 80vh;
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}

.journey-prev-next-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  button {
    position: relative;
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    cursor: pointer;
    border: 0;

    &.prev:before,
    &.next:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50%;
      height: 50%;
      background-image: url("/arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      translate: -50% -50%;
    }

    &.next:before {
      transform: rotate(180deg);
    }
  }
}

.journey-sidebar {
  position: relative;
  width: 25vw;
  height: fit-content;
  max-height: 80vh;
  background-color: white;
  margin-top: 0;
  clip-path: inset(0 round 20px);
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: black #f0f0f0;
  z-index: 1;
  transition: right 0.4s ease-out;
}

.journey-sidebar img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.journey-sidebar-texts {
  padding: 2rem;
}

.journey-sidebar h1 {
  font-size: 2rem;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.journey-sidebar p {
  font-size: clamp(1rem, 1vw, 1.1rem);
  line-height: 1.3;
  color: rgb(84, 84, 84);
  word-wrap: break-word;
}

.journey-sidebar-link {
  display: inline-flex;
  background-color: black;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  border-radius: 50px;
}

.closeSidebar {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  background-color: black;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.closeSidebar::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 30%;
  background-image: url("/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  translate: -50% -50%;
}

.journey-sidebar-wrapper.show {
  right: 2rem;
}

.journey-mute-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: black;
  color: white;
  font-size: 0.8rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  cursor: pointer;
}

#leva__root > div {
  inset: auto auto 1rem 1rem;
}
